.edit-container {
    width: 100%;
    height: 100%;
    color: black;
    /*margin: 50px auto;
    padding: 20px;*/
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 5 equal-width columns */   
    grid-template-rows: repeat(11, 1fr); /* 8 equal rows */ 
    grid-template-areas:
    "namefunction namefunction namefunction"
    "functiondisplay functiondisplay functiondisplay"
    "functiondisplay functiondisplay functiondisplay"
    "functiondisplay functiondisplay functiondisplay"
    /*"tokensdisplay tokensdisplay tokensdisplay"
    "functiondisplay functiondisplay functiondisplay"*/
    "operatorlist operatorlist operatorlist"
    "operatorlist operatorlist operatorlist"
    "operatorlist operatorlist operatorlist"
    "operatorlist operatorlist operatorlist"
    "operatorlist operatorlist operatorlist"
    "operatorlist operatorlist operatorlist"
    "applybutton applybutton applybutton";
}

.edit-input-section {
    grid-area: namefunction;
}

.editTabText {
    width: 100%;
    padding: 4px;
    /*font-size: 18px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.edit-display {
    /*padding: 10px;
    font-size: 18px;*/
    grid-area: functiondisplay;
    border: none;
    box-sizing: border-box;
    background-color: #f9f9f9;
    margin-bottom: 4px;
    border-radius: 5px;
    outline: none;
}

.edit-tokens-list {
    grid-area: operatorlist;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-y: auto;
}

.token-item {
    color: #C72626;
    display: flex;
    align-items: center;
    gap: 2px;
}

.token-value {
    padding: 4px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:#E5E4E2;
    outline: none;
    min-width: 40%;
}

select {
    padding: 4px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

#applyChanges {
    grid-area: applybutton;
    padding: 4px;
    /*font-size: 18px;*/
    background-color: #1E1E1E;
    color: #C72626;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 4px;
}

#applyChanges:hover {
    background-color:#E5E4E2;

}
