.functions-container {    
    font-size: 12px;
    display: grid;    
    grid-auto-columns: repeat(4, 1fr);
    gap: 4px;
    max-height: 100%;  /*Set a max height for the container */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds height */
    overflow-x: auto;
}

.function-item {    
    background-color: #f0f0f0;    
    text-align: left;    
}

.function-item:hover {
    background-color: #C0C0C0;
    color: #C72626;
    cursor: pointer;
}
